workflow.json
{
  "name": "Email Support Bot",
  "nodes": [
    {
      "parameters": {
        "pollTimes": { "item": [{ "mode": "everyX", "value": 5, "unit": "minutes" }] },
        "filters": { "readStatus": "unread" },
        "options": {}
      },
      "id": "2a2b2c20-0001-4b22-9b02-000000000001",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a customer support classifier. Given an email subject and body, return ONLY a JSON object with: category (billing/technical/refund/general), urgency (high/medium/low), and summary (one sentence max)."
            },
            {
              "role": "user",
              "content": "=Subject: {{ $json.subject }}\n\nBody: {{ $json.snippet }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2a2b2c20-0002-4b22-9b02-000000000002",
      "name": "AI - Classify Email",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            { "value1": "={{ JSON.parse($json.message.content).category }}", "value2": "billing" },
            { "value1": "={{ JSON.parse($json.message.content).category }}", "value2": "technical" },
            { "value1": "={{ JSON.parse($json.message.content).category }}", "value2": "refund" }
          ]
        }
      },
      "id": "2a2b2c20-0003-4b22-9b02-000000000003",
      "name": "Switch - Route by Category",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_BILLING_CHANNEL }}",
        "text": "=💳 Billing ticket ({{ JSON.parse($json.message.content).urgency }} urgency)\nFrom: {{ $json.from }}\nSummary: {{ JSON.parse($json.message.content).summary }}"
      },
      "id": "2a2b2c20-0004-4b22-9b02-000000000004",
      "name": "Slack - Billing Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [900, 160]
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_TECH_CHANNEL }}",
        "text": "=🔧 Tech ticket ({{ JSON.parse($json.message.content).urgency }} urgency)\nFrom: {{ $json.from }}\nSummary: {{ JSON.parse($json.message.content).summary }}"
      },
      "id": "2a2b2c20-0005-4b22-9b02-000000000005",
      "name": "Slack - Tech Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "databaseId": "={{ $env.NOTION_DATABASE_ID }}",
        "title": "={{ $json.subject }}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "From", "textValue": "={{ $json.from }}" },
            { "key": "Category", "textValue": "={{ JSON.parse($json.message.content).category }}" },
            { "key": "Urgency", "textValue": "={{ JSON.parse($json.message.content).urgency }}" },
            { "key": "Summary", "textValue": "={{ JSON.parse($json.message.content).summary }}" }
          ]
        }
      },
      "id": "2a2b2c20-0006-4b22-9b02-000000000006",
      "name": "Notion - Create Ticket",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a professional customer support agent. Write a helpful, empathetic reply email to this customer. Do not resolve the issue — acknowledge it and let them know the right team will follow up within 24 hours."
            },
            {
              "role": "user",
              "content": "=Customer email:\nFrom: {{ $json.from }}\nSubject: {{ $json.subject }}\nMessage: {{ $json.snippet }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2a2b2c20-0007-4b22-9b02-000000000007",
      "name": "AI - Draft Reply",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "operation": "createDraft",
        "to": "={{ $json.from }}",
        "subject": "=Re: {{ $json.subject }}",
        "emailType": "text",
        "message": "={{ $json.message.content }}"
      },
      "id": "2a2b2c20-0008-4b22-9b02-000000000008",
      "name": "Gmail - Save Draft Reply",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [[{ "node": "AI - Classify Email", "type": "main", "index": 0 }]]
    },
    "AI - Classify Email": {
      "main": [[{ "node": "Switch - Route by Category", "type": "main", "index": 0 }]]
    },
    "Switch - Route by Category": {
      "main": [
        [{ "node": "Slack - Billing Alert", "type": "main", "index": 0 }],
        [{ "node": "Slack - Tech Alert", "type": "main", "index": 0 }],
        [{ "node": "Notion - Create Ticket", "type": "main", "index": 0 }]
      ]
    },
    "Notion - Create Ticket": {
      "main": [[{ "node": "AI - Draft Reply", "type": "main", "index": 0 }]]
    },
    "AI - Draft Reply": {
      "main": [[{ "node": "Gmail - Save Draft Reply", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "versionId": "00000000-0000-0000-0000-000000000002"
}
